@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* { box-sizing: border-box; }

body { 
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

/* STRUCTURE */

.wrapper {
	padding: 5px;
	max-width: 960px;
	width: 95%;
    margin: 20px auto;
    
}

.column p{
font-size: 16px;
text-align: justify;
text-transform: initial;
color: white;
font-family: 'Times New Roman', Times, serif;
font-weight:bold;

}

.column h3{
color:lightskyblue;
text-align: center;
font-weight: bolder;

}

.column h1{
	color:lightskyblue;
	text-align: center;
	font-weight: bold;
	
	}

.column h2{

text-align: center;
color:fuchsia;
font-weight: bolder;


}


.column h4{

text-align:center;
color:white;

}

.column h5{

	text-align:left;
	color:white;
	
	}


.column h5{

	color:white;
	text-align: justify;
	
	}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0;
	width:auto;
    background-color: 	#0e1111;
}

.column {
	flex: 1;
	border:none;
	margin: 2px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
}

.column ul{

	color:white;
	
}

 .column ul li{

	list-style-type: square;
	color:white;
	font-weight: bolder;
	text-align: justify;
	font-size: 14px;


}

video {
	outline:0px;
	
 }

 
video::-webkit-media-controls-panel {
	border: white;
	background-color: transparent !important;
	box-shadow: none !important;
 }


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media screen and (max-width: 980px) {
  .columns .column {
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}